body {
    background-image: url("https://img.freepik.com/premium-photo/scenic-view-lake-amidst-trees-forest-against-sky_1048944-16792092.jpg?semt=ais_hybrid");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: aliceblue;
}


.Dostijzeniya {
    background-color: gold;
    border-radius: 30px;
    color: blue;
    font-size: 36px;
}