body {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    background: linear-gradient(45deg, #273cfa 0%, #ec3b24 100%);
    color: #333;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}


.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.logo img {
    width: 300px;
}

nav .list {
    display: flex; 
    gap: 30px; 
    justify-content: center; 
    align-items: center;
    list-style: none;
    padding: 0;
}

nav .list a {
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
}




.left {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    background-color: gold;
    border-radius: 30px;
    padding: 20px;
}



.right {
    display: flex;
    background-color: gold;
    border-radius: 20px;
    padding: 20px;
    height: fit-content;
}

.right ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.right li {
    color: chocolate;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 0;
}



.main-grid section {
    display: flex;
    gap: 2rem;
}

